@font-face {
  font-family: SymMingLiU;
  src: url(symmingliu.aaa394dd81dbe129da06687a75bfe002.d89043d5.woff);
}

.bbs-content {
  font-family: Inconsolata, MingLiU, SymMingLiU, 'AR PL UMing TW', LiSongPro, monospace;
}

#logo > svg {
  vertical-align: -1rem;
}
