<div id="loginModal" class="modal fade" tabindex="-1" role="dialog" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">選擇要使用的錢包</h3>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form id="loginForm" onsubmit="return false">
          <div class="wrapper wrapper--injected">
            <div class="custom-control custom-radio">
              <input id="loginFormC1" type="radio" name="accountSource" value="injected" class="custom-control-input" autocomplete="off">
              <label for="loginFormC1" class="custom-control-label">
                <span>從瀏覽器偵測錢包登入</span>
                <div class="desc">
                  偵測到 <span class="--injectedProviderName">...</span>，狀態：<span class="--injectedProviderStatus">...</span><br>
                  <div class="desc-ok" style="display:none">
                    錢包地址：<span class="--injectedAccountAddress">...</span>
                  </div>
                  <div class="desc-err">
                    ...
                  </div>
                </div>
              </label>
            </div>
          </div>
          <div class="wrapper wrapper--seed">
            <div class="custom-control custom-radio">
              <input id="loginFormC2" type="radio" name="accountSource" value="seed" class="custom-control-input" autocomplete="off">
              <label for="loginFormC2" class="custom-control-label">
                <span>使用助記詞登入</span>
                <div class="desc">
                  <div class="desc-ok" style="display:none">
                    錢包地址：<span class="--seedAccountAddress">...</span>
                  </div>
                  <div class="desc-err">
                    尚未設定助記詞，按這裡隨機產生一組
                  </div>
                </div>
              </label>
            </div>
            <div id="seedConfigArea">
              <strong>設定助記詞</strong>
              <div class="input-group">
                <input type="text" name="seed" class="form-control">
                <div class="input-group-append">
                  <button id="commitSeedPhrase" type="button" class="btn" style="height: 100%">確認</button>
                </div>
              </div>
              <div style="margin-top: .2rem">
                <button id="generateSeedPhrase" type="button" class="btn">產生</button>
                <button id="deleteSeedPhrase" type="button" class="btn btn-danger">刪除</button>
              </div>
            </div>
          </div>
          <div class="wrapper wrapper--vistor">
            <div class="custom-control custom-radio">
              <input id="loginFormC3" type="radio" name="accountSource" value="vistor" class="custom-control-input" autocomplete="off">
              <label for="loginFormC3" class="custom-control-label">
                <span>登出</span>
                <div class="desc">
                  訪客模式，不會進行登入
                </div>
              </label>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button id="bbs-modal-login" class="btn btn-primary" disabled>登入</button>
        <button class="btn" data-dismiss="modal">取消</button>
      </div>
    </div>
  </div>
</div>
