
@media (min-width: 993px) {
    .main {
        height: 24.125em;
    }

    body {
        color: #fff;
        background-color: #000;
    }

    .q0 {
        color: #000
    }

    .q1 {
        color: maroon
    }

    .q4 {
        color: navy
    }

    .q7 {
        color: silver
    }

    .b2 {
        background-color: green
    }

    .b3 {
        background-color: olive
    }

    .b4 {
        background-color: navy
    }

    .b6 {
        background-color: teal
    }

    .b7 {
        background-color: silver
    }


    .main {
        font-family: Inconsolata, MingLiU, SymMingLiU, 'AR PL UMing TW', LiSongPro, monospace;
    }
    button {
        height: 26px;
        border: 0 none;
        padding: 0px;
    }
    input {
        height: 28px;
        border: 0 none;
        padding: 0;
        font-size: 26px;
        width: 598px;

    }
    input:focus {
        outline: none !important;
        border-color: none !important;
        box-shadow: 0 0 0px none;
    }
    textarea {
        background-color: #000;
        height: 518px;
        width: 1050px;
        border: 0 none;
        padding: 0px;
        font-size: 26px;
        resize: none;
    }
    textarea:focus {
        outline: none !important;
        border-color: none !important;
        box-shadow: 0 0 0px none;
    }
    .mobile-footer,
    .mobile-header {
        display: none;
    }
}


@media (max-width: 992px) {
    body {
        background-color: #000;
        color: silver;
    }
    textarea {
        margin-top: 10px;
        margin-left: 3vw;
        background-color: #000;
        border: 0 none;
        padding: 0px;
        height: 50vh;
        width: 94vw;
        border-radius: 1px;
    }
    textarea:focus {
        outline: none !important;
        border-color: none !important;
        box-shadow: 0 0 0px none;
    }
    input {
        height: 24px;
        border: 0 none;
        padding: 0px;
        background-color: silver;
        color: black;
    }
    input:focus {
        outline: none !important;
        border-color: none !important;
        box-shadow: 0 0 0px none;
    }
    .title {
        margin-left: 3vw;
    }
    #bbs-title {
        width: 72vw;
        font-size: 20px;
    }
    .author-pre {
        display: none;
    }
    .author {
        margin-left: 3vw;
    }
    #cursor,
    #bbs-footer {
        display: none;
    }
    .mobile-footer {
        margin-top: 10px;
    }
    .btn {
        margin-left: 3.5px;
        margin-right: 3.5px;
        color: black;
        background-color: silver;
        border-radius: 0px;
    }
    .btn:focus,
    .btn:active {
        outline: none !important;
    }
    .mobile-header {
        margin-top: 20px;
    }
    .flex {
        padding: 0 3vw 0 3vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    hr {
        margin: 20px 3vw 10px 3vw;
    }
    .main {
        width: auto !important;
    }
}
