<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
      <title>404 - DEXON BBS</title>
  </head>
  <body>
    <h1>404 PAGE NOT FOUND<h1>
    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script type="text/javascript">
      // cache case
      if (window.location.pathname.includes('/s/')) {
        let shortlink = window.location.pathname.split('s/')[1].replace('.html', '')
        location.href = '/s/'+shortlink+'.html'
      }
    </script>
    <!-- <script language="javascript" type="text/javascript" src="https://siriustsou.github.io/nyancat/nyancat.js"></script> -->
  </body>
</html>