<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {% block meta -%}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ canonicalUrl }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ 'assets/meta.png' | prefixUrl }}">
    <meta property="og:image:width" content="830">
    <meta property="og:image:height" content="480">
    {%- endblock %}

    {% block head_extra -%}
    <link rel="shortcut icon" type="image/png" href="{{ 'favicon.ico' | prefixUrl }}">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-common.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-custom.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/pushstream.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-print.css" media="print">
    <link rel="stylesheet" type="text/css" href="assets/style.scss">
    {%- endblock %}
  </head>

  <body>
    {% block topbar -%}
    <div id="topbar-container">
      <div id="topbar" class="bbs-content">

        <a id="logo" href="/">{%- include '_logo.njk' -%} BBS</a>
        <span>›</span>
        <a class="board" href="/"><span class="board-label">看板 </span>Gossiping</a>
        <div id="bbs-user-menu" class="user-menu right" href="#" style="display: none;">
            <div id="bbs-user" class="trigger right small">User</div>
            <div class="dropdown" style="width: 100%">
                <div class="item small"><a href="/about.njk">幫助</a></div>
                <div class="hotkey-mode-btn item small"><a href="#"><span class="hotkey-mode"></span>熱鍵</a></div>
                <div class="item small"><a href="#">註冊暱稱</a></div>
            </div>
        </div>
        <a id="bbs-login" class="right small" href="#">登入</a>
        <div id="bbs-more" class="user-menu right" href="#">
            <div class="trigger right small">⋯</div>
            <div class="dropdown" >
                <div class="item small"><a href="/about.njk">幫助</a></div>
                <div class="hotkey-mode-btn item small"><a href="#"><span class="hotkey-mode"></span>熱鍵</a></div>
            </div>
        </div>
      </div>
    </div>
    {%- endblock %}

    {% block content -%}
    {%- endblock %}

    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/gh/andy0130tw/web3.js-browser@v0.0.1-beta.55/build/web3.min.js"></script>
    <script language="javascript" type="text/javascript" src="scripts/layout.js"></script>

    {% block scripts_extra -%}
    {%- endblock %}

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <div id="wrapfabtest">
        <div class="adBanner" style="background-color: transparent; height: 1px; width: 1px;">
        </div>
    </div>
    <script async type="text/javascript">
        $(document).ready(function(){
            let domain = $("#wrapfabtest").height() > 0 ? '//www.googletagmanager.com' : domain = '//cdn.dett.cc'

            var script = document.createElement('script');
            script.src=domain+"/gtag/js?id=UA-140044770-1";
            document.body.appendChild(script);
            script.onload = function () {
                window.dataLayer = window.dataLayer || [];
                function gtag(){dataLayer.push(arguments);}
                gtag('js', new Date());
                gtag('config', 'UA-140044770-1');
            }
        })
    </script>
  </body>
</html>
