<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>

    {% block meta -%}
    <meta property="og:title" content="{{ title }}">
    <meta property="og:description" content="{{ description }}">
    <meta property="og:url" content="{{ canonicalUrl }}">
    <meta property="og:type" content="website">
    <meta property="og:image" content="{{ 'assets/meta.png' | prefixUrl }}">
    <meta property="og:image:width" content="830">
    <meta property="og:image:height" content="480">
    {%- endblock %}

    {% block head_extra -%}
    <link rel="shortcut icon" type="image/png" href="favicon.ico">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-common.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-base.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-custom.css">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/pushstream.css" media="screen">
    <link rel="stylesheet" type="text/css" href="https://images.ptt.cc/bbs/v2.25/bbs-print.css" media="print">
    <link rel="stylesheet" type="text/css" href="assets/style.scss">
    {%- endblock %}
  </head>

  <body>
    {% block topbar -%}
    <div id="topbar-container">
      <div id="topbar" class="bbs-content">

        <a id="logo" href="/">{%- include '_logo.njk' -%} BBS</a>
        <span>›</span>
        <a class="board" href="/"><span class="board-label">看板 </span>Gossiping</a>
        <div id="bbs-user-menu" class="user-menu right" href="#" style="display: none;">
            <div id="bbs-user" class="trigger right small">User</div>
            <div class="dropdown" style="width: 100%">
                <div class="item small"><a href="/about.njk">幫助</a></div>
                <div class="item small"><a href="#">熱鍵模式</a></div>
                <div class="item small"><a href="#">註冊暱稱</a></div>
            </div>
        </div>
        <a id="bbs-login" class="right small" href="#">登入</a>
        <a id="bbs-register" class="right small" href="about.njk">幫助</a>
      </div>
    </div>
    {%- endblock %}

    {% block content -%}
    {%- endblock %}

    <script language="javascript" type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script language="javascript" type="text/javascript" src="https://cdn.jsdelivr.net/gh/ethereum/web3.js@1.0.0-beta.37/dist/web3.min.js"></script>
    {% block scripts_extra -%}
    {%- endblock %}

    {% if not without_web3 -%}
    <script language="javascript" type="text/javascript" src="scripts/dexon.js"></script>
    {%- endif %}

    <script language="javascript" type="text/javascript" src="scripts/_layout.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140044770-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-140044770-1');
    </script>
  </body>
</html>
