{% extends 'content.njk' %}

{% set title = 'dett:title' %}
{% set canonicalUrl = 'dett:url' %}
{% set description = 'dett:desc' %}

{% set __postTitle = 'dett:post:title' %}
{% set __postContent = 'dett:post:content' %}

{% block meta -%}
  {{super()}}
  <meta property="dett:tx" content="dett:tx:content">
{% endblock meta -%}