{% extends '_layout.njk' %}
{%- import '_macros.njk' as macros -%}

{% set title = 'DEXON BBS' %}

{% block content %}
<div id="main-container">
  <div id="action-bar-container">
    <div class="action-bar">
      <div class="btn-group btn-group-dir" style="text-align: left; padding: 1px">
        <a class="btn selected" href="/">看板</a>
        <a id="bbs-post" class="btn" href="post.njk" style="display: none;">發文(^P)</a>
      </div>
<!--       <div class="btn-group btn-group-paging" style="text-align: right; padding: 1px">
        <a class="btn wide" href="#">Top</a>
      </div> -->
      <div class="btn-group btn-group-paging">
        <a class="btn wide" href="index.njk?p=1">最舊</a>
        <a class="btn wide" href="#">‹ 上頁</a>
        <a class="btn wide disabled">下頁 ›</a>
        <a class="btn wide" href="index.njk">最新</a>
      </div>
    </div>
  </div>
  <div class="r-list-container action-bar-margin bbs-screen">
    {{ macros.articleEntry('[公告] 領取免費的 DEXON 代幣 &amp; DEXON BBS 使用教學', 'about.njk', 'Admin') }}
    {{ macros.articleEntry('[公告] DEXON BBS 搬家預告', 'mayday.njk', 'Admin') }}
    <div class="r-list-sep"></div>
  </div>
</div>
{% endblock %}

{% block scripts_extra %}
<script language="javascript" type="text/javascript" src="scripts/index_scripts.js"></script>
{% endblock %}
