{% extends '_layout.njk' %}

{% set title = 'DEXON BBS' %}

{% block content %}
<div id="main-container">
  <div id="action-bar-container">
    <div class="action-bar">
      <div class="btn-group btn-group-dir" style="text-align: left; padding: 1px">
        <a class="btn selected" href="/">看板</a>
        <a id="bbs-post" class="btn" href="post.njk" style="display: none;">發文</a>
      </div>
      <div class="btn-group btn-group-paging" style="text-align: right; padding: 1px">
        <a class="btn wide" href="#">Top</a>
      </div>
    </div>
  </div>
  <div class="r-list-container action-bar-margin bbs-screen">
    <div class="r-ent">
      <div class="nrec"></div>
      <div class="title">
      <a href="about.njk">
        [公告] 領取免費的 DEXON 代幣 &amp; DEXON BBS 使用教學
      </a>
      </div>
      <div class="meta">
        <div class="author">
          <a>
            Admin
          </a>
        </div>
        <div class="article-menu"></div>
        <div class="date"></div>
      </div>
    </div>
    <div class="r-list-sep"></div>
  </div>
</div>
{% endblock %}

{% block scripts_extra %}
<script language="javascript" type="text/javascript" src="scripts/index_scripts.js"></script>
{% endblock %}
