{% extends '_layout.njk' %}

{% set title = '[公告] DEXON BBS 搬家預告' %}
{% set canonicalUrl = 'https://dett.cc/mayday.html' %}
{% set description = 'DEXON 墜機，DEXON BBS 暫停開發維運，原團隊將於近日以全新產品「Loom BBS」重新復出，敬請支持！' %}

{% block content %}
<div id="navigation-container">
      <div id="navigation" class="bbs-content">
        <a class="board" href="/">返回看板</a>
        <div class="bar"></div>
      </div>
    </div>

    <div id="main-container">
      <div id="main-content" class="bbs-screen bbs-content"><div class="article-metaline"><span class="article-meta-tag">作者</span><span class="article-meta-value">Admin<a id="main-content-author" target="_blank" href="#"></a></span></div><div class="article-metaline-right"><span class="article-meta-tag">看板</span><span class="article-meta-value">Gossiping</span></div><div class="article-metaline"><span class="article-meta-tag">標題</span><span class="article-meta-value" id="main-content-title">[公告] DEXON BBS 搬家預告</span></div><div class="article-metaline"><span class="article-meta-tag">時間</span><span class="article-meta-value" id="main-content-date">Mon May 20 2019 17:00:25
</span></div>
Mayday! Mayday! Mayday!🛬️🛬️🛬️


感謝各位使用者的支持

DEXON 即將墜機

DEXON BBS 亦暫停開發與維運

原團隊將於近日以全新產品：Loom BBS 重新復出

屆時再請舊雨新知繼續給予鼓勵，謝謝！



DEXON BBS 開發團隊
--
<span class="f2">※ 發信站: DEXON BBS(dett.cc), 來自: Dexon</span>
<span class="f2">※ 文章網址: <a id="main-content-href" href="#" target="_blank" rel="nofollow">https://dett.cc/mayday.html</a></span></div>
    </div>
{% endblock %}

{% block scripts_extra %}
<script language="javascript" type="text/javascript" src="scripts/about.js"></script>
{% endblock %}
