{% extends '_layout.njk' %}
{% set showTopbar = false %}

{% block head_extra %}
<link rel="shortcut icon" type="image/png" href="assets/icon.png">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="assets/termptt/post.css" rel="stylesheet">
{% endblock %}
{% block content %}
<div class="mobile-header">
    <div class="flex">
        <button class="btn bbs-cancel">取消返回</button><button class="btn bbs-post">發布貼文</button>
    </div>
</div>
<div id="BBSWindow" style="touch-action: pan-y; -webkit-user-drag: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); cursor: auto;" align="center"><input id="t" type="text" autocomplete="off" style="box-sizing: content-box; color: initial; border: none; width: 1px; height: 1px; position: absolute; left: -100000px; top: -100000px; z-index: 2; resize: none; opacity: 0; font-size: 22px;" autofocus="" bshow="0">
    <div class="main" style="border: 0px; transform-origin: center center; font-size: 26px; line-height: 26px; overflow: hidden auto; text-align: left; width: 1050px; margin-top: 20.5px; transform: none;">
        <div id="mainContainer">
            <span type="bbsrow" srow="0">
                <div class="" style="margin-left: 0vw;">
                    <span class="q7 b0 title">標題：</span><input class="q0 b7" id="bbs-title" type="text" maxlength="40" value="">
                    <span class="q7 b0 author-pre">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                    <span class="q7 b0 author">作者：<span id="bbs-user" class="q7 b0"></span></span>
                </div>
            </span>
            <span type="bbsrow" srow="2">
                <textarea spellcheck="false" id="bbs-content" type="text" style="margin-top: 25px;"></textarea>
            </span>
            <span id='bbs-footer' type="bbsrow" srow="4">
                <div >
                    <span class="q4 b6">&nbsp;編輯文章&nbsp;</span><span class="q1 b7">&nbsp;(^Q)</span><span class="q0 b7">離開&nbsp;</span><span class="q1 b7">(^X)</span><span class="q0 b7">發文&nbsp;</span><span class="b7">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><button class="q4 b3 bbs-cancel" id="bbs-cancel">&nbsp;取消發文&nbsp;</button><button id="bbs-post" class="q4 b2 bbs-post" disabled="disabled">&nbsp;完成發文&nbsp;</button>
                </div>
            </span>
            <span id='bbs-checksave' type="bbsrow" srow="5" style="display: none;">
                <span class="q14 b4">&nbsp;◆ 結束但不儲存 [y/N]? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="q11 b6"> [按任意鍵繼續]&nbsp;</span>
            </span>
            <span id='bbs-checkpost' type="bbsrow" srow="6" style="display: none;">
                <span class="q14 b4">&nbsp;◆ 確定發文 [y/N]? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span><span class="q11 b6"> [按任意鍵繼續]&nbsp;</span>
            </span>
        </div>
    </div>
</div>
<div class="mobile-footer">
</div>
{% endblock %}
{% block scripts_extra %}
<script language="javascript" type="text/javascript" src="scripts/post.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}