{% extends '_layout.njk' %}

{% block title %}
  Register - {{ super() }}
{% endblock %}

{% block content %}
<div id="navigation-container">
      <div id="navigation" class="bbs-content">
        <a class="board" href="/">返回看板</a>
        <div class="bar"></div>
      </div>
    </div>

    <div id="main-container">
      <div id="main-content" class="bbs-screen bbs-content"><div class="article-metaline"><span class="article-meta-tag">作者</span><span class="article-meta-value"><a id="main-content-author" target="_blank" href="#"></a></span></div><div class="article-metaline-right"><span class="article-meta-tag">看板</span><span class="article-meta-value">Gossiping</span></div><div class="article-metaline"><span class="article-meta-tag">標題</span><span class="article-meta-value" id="main-content-title"></span></div><div class="article-metaline"><span class="article-meta-tag">時間</span><span class="article-meta-value" id="main-content-date"></span></div>
1.下載錢包 https://dexon.org/dexon-wallet/
2.領錢錢 https://dexonscan.app

--
<span class="f2">※ 發信站: DEXON BBS(dett.cc), 來自: Dexon</span>
<span class="f2">※ 文章網址: <a id="main-content-href" href="#" target="_blank" rel="nofollow"></a></span>
      </div>
    </div>
{% endblock %}
