{% extends '_layout.njk' %}

{% set hideGossiping = true %}
{% set title = '註冊 - DEXON BBS' %}

{% block content %}
<div id="navigation-container">
  <div id="navigation" class="bbs-content">
    <a class="board" href="/">返回看板</a>
    <div class="bar"></div>
  </div>
</div>

<div id="main-container">
<div id="main-content" class="bbs-screen bbs-content">
<main id="main-content-content">
<span class="hl" style="font-size: 2em">使用者資訊</span>
<br>
地址：<span id="main-content-address" class="wrappable">...</span>
目前ID：<span id="main-content-nickname"></span>
<span class="member-zone" style="display:none">
<span class="hl" style="font-size: 1.33em">註冊暱稱</span>
<br>
新暱稱：<input id="register-nickname" size="14" type="text" class="input q0 b7" maxlength="12">  <span id="register-ok" style="display: none" class="hl">此ID價值 <span id="register-fee" class="hl f3">0.00 DXN</span>。</span><span id="register-no" style="display: none" class="hl f1">:(</span>
<br>
暱稱需符合以下規定：
<span class="--rule">  - 由 3 到 12 個英文字母、數字或空白字元組成</span>
<span class="--rule">  - 不可由 0x 開頭、不可由空白開頭或結尾</span>
<span class="--rule">  - 不可全由數字組成</span>
<span class="--rule">  - 空白不可連續出現</span>
<br>
可以註冊多次，但暱稱不能與任何註冊過的暱稱重複。
<br>
<button id="register-submit" class="btn" style="font-size: inherit">註冊</button>
</span>
</main>
</div>
</div>
{% endblock %}

{% block scripts_extra %}
<script language="javascript" type="text/javascript" src="scripts/register.js"></script>
{% endblock %}
