@font-face {
  font-family: SymMingLiU;
  src: url(./assets/termptt/symmingliu.aaa394dd81dbe129da06687a75bfe002.woff);
}

.bbs-content {
  font-family: Inconsolata, MingLiU, 'Courier New', SymMingLiU, 'AR PL UMing TW', LiSongPro, monospace;
}

a.--link-to-addr {
  color: inherit;
  text-decoration: none;
}

a.--link-to-addr:hover {
  background-color: rgba(255, 255, 255, .3);
}

a.--link-to-addr:after {
  color: rgba(255, 255, 255, .6);
  font-size: .6em;
  line-height: 1;
  vertical-align: .2em;
}

a.--link-to-addr:hover:after {
  padding-left: .33em;
  content: '(' attr(data-address) ')';
}

#logo {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 21px;
  font-weight: bold;
}

#logo > svg {
  vertical-align: -1rem;
}

#logo:hover > svg > path {
  fill: white;
}
