@font-face {
  font-family: SymMingLiU;
  src: url(./assets/termptt/symmingliu.aaa394dd81dbe129da06687a75bfe002.woff);
}

.bbs-content {
  font-family: Inconsolata, MingLiU, SymMingLiU, 'AR PL UMing TW', LiSongPro, monospace;
}

#logo {
  padding-left: 5px;
  padding-right: 5px;
  font-size: 21px;
  font-weight: bold;
}

#logo > svg {
  vertical-align: -1rem;
}

#logo:hover > svg > path {
  fill: white;
}
